<!DOCTYPE html>
<html>
<head>
    <title>TaxSutra TP Scout</title>
</head>
<body>

<h2>TaxSutra TP Scout</h2>

<form action="/run" method="post">

    <label>Keyword:</label>
    <input type="text" name="keyword" required><br><br>

    <label>Start Date:</label>
    <input type="text" name="start_date" placeholder="dd/mm/yyyy" required><br><br>

    <label>End Date:</label>
    <input type="text" name="end_date" placeholder="dd/mm/yyyy" required><br><br>

    <label>Industry:</label>
    <select name="industries">
        <option value="IT & ITES">IT & ITES</option>
        <option value="Automotive">Automotive</option>
        <option value="Banking and financial services">Banking</option>
        <option value="Manufacturing">Manufacturing</option>
    </select><br><br>

    <button type="submit">Run RPA</button>

</form>

</body>
</html>